* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 20px;
}

h3{
    color: #283d50;
}
.container{
    max-width: 1600px;
}

/*===================================   header style      =================================*/

.header {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.5s;
}

.header.fixedMenu{
    background: #1bac93; 
    position: fixed;
    padding: 15px;
    -ms-box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);
}

.header.fixedMenu .navbar .logo img{
    max-width: 100px;
}
.header .navbar {
    padding: 0;
}
.header .navbar .logo {
    color: #fff;
}
.header .navbar .logo img {
    transition: all 0.5s;
    max-width: 135px;
    width: 100%;
}
.header .navbar .navbar-toggler {
}
.header .navbar .navbar-toggler i {
}
.header .navbar .mainMenu {
}
.header .navbar .mainMenu .navbar-nav {
    align-items: center;
}
.header .navbar .mainMenu .navbar-nav .nav-item {
    margin-right: 50px;
}
.header .navbar .mainMenu .navbar-nav .nav-item:last-child {
    margin-right: 0;
}
.header .navbar .mainMenu .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding: 0;
    font-weight: 500;
}

/*===================================   header style      =================================*/

/* ==================================   bannerWrap style    ================================= */
.bannerWrap {
    background: url(../img/1.Slider-background-01.png) no-repeat scroll top left / cover;
    padding: 100px 0 340px;
}

.bannerContent {
}
.bannerContent .bannerTitle {
    font-size: 56px;
    line-height: 66px;
    color: #fff;
    margin-bottom: 50px;
}
.bannerContent .bannerTitle span {
    color: #fbd65d;
}
.bannerContent .bannerPara {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 60px;
}
.bannerContent .btnGroup {
    display: flex;
}
.bannerContent .btnGlob {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 22px;
    background: #fff;
    padding: 0 30px;
    height: 60px;
    font-weight: 500;
    color: #16a88e;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.5s;
}
.bannerContent .btnGlob.btnPatient {
    margin-right: 30px;
    border: 2px solid #fff;
}
.bannerContent .btnGlob.btnPatient:hover {
    background: transparent;
    color: #fff;
}
.bannerContent .btnGlob.btnDoctor {
    border: 2px solid #fbd65d;
    background: #fbd65d;
    color: #333;
}
.bannerContent .btnGlob.btnDoctor:hover {
    background: transparent;
    color: #fbd65d;
}
.bannerContent .bannerImg {
}
.bannerContent .bannerImg img {
}

/*===================================   bannerWrap style      =================================*/

/* ==================================   about us style    ================================= */

.about {
    margin-top: 20px;
}
.header-about {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.header-about .heading-about {
}
.header-about .icon {
}
.header-about .icon img {
    width: 27px;
    margin-top: -10px;
}
.about-image img {
    width: 100%;
}
.about .body-about {
    margin: 20px 0;
}
.about .about-link {
    text-decoration: none;
}

/* ==================================   about us style    ================================= */

/* ==================================   our services style    ================================= */

.services {
    margin-top: 40px;
}

.services .service-header {
}

.services .service-header img{
    width: 30px;
    margin-top: -95px;
    margin-left: 193px;
}

.services .service {
    width: 100%;
    height: 200px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 9px 10px 6px -5px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 9px 10px 6px -5px rgba(0, 0, 0, 0.06);
    box-shadow: 9px 10px 6px -5px rgba(0, 0, 0, 0.06);
}
.services .service img {
    width: 140px;
    margin: 0 auto;
}
.services .service span {
    margin: 0 auto;
    text-align: center;
}

/* ==================================   our services style    ================================= */

/* ==================================  Start How it works    ================================= */

.howitworks{
    margin-top: 120px;
}

.howitworks .howworksheader{
    
}
.howitworks .howworksheader .top-header{
    
}

.howitworks .howworksheader .top-header img{
    width: 30px;
    margin-top: -95px;
    margin-left: 193px;
}

.howitworks .howworksheader .bottom-header{
    margin-top: -20px;
}

/* ==================================   End How it works    ================================= */

/*===================================   our partners           ================================= */
.section-header {
    margin-top: 66px;
    margin-bottom: 46px;
}

.section-header h3 {
    text-align: center;
}

.heading-partners .icon {
}
.heading-partners .icon img {
    width: 20px;
    margin-top: -10px;
}
.partner-img {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    background: #fff;
    height: 160px;
}
/*===================================   end our partners          ================================= */

/*===================================   footer                    ================================= */
.footer {
  background: url("../../assets/img/22.Slider-01.png") no-repeat center center;
  background-size: 100% 100%;
}
.footer .section{
    padding-top: 15%;
    padding-right: 3%;
    padding-left: 3%;
}
/*socilal link*/
.footer p {

    color: #ecf5ff;
}
.footer h5 {
    padding-top: 3%;
    padding-bottom: 3%;
    color: #ecf5ff;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer ul li {
    padding: 0px 0px 12px 0px;
}
.footer ul a {
    color: #ecf5ff;
    text-decoration: none;
}
.footer .section .social {
    padding-top: 33px;
    padding-right: 10%;
    padding-left: 10px;

}
/*social link*/
.footer .mobile {;
    height:100%;
}
/*copywrite*/
hr { 
    display: block;
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
.social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 36px;
    height: 36px;
}
/*===================================   end footer                ================================= */
