* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #F8FBFC;
}

h3{
    color: #283d50;
}

a.custom-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    background: #fff;
    height: 37px;
    font-weight: 400;
    color: #504c72;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.5s;
    width: 134px;
}
.cus-row{
    margin: 0 15px;
}
.top-section {
  background: url("../../assets/img/22.Slider-01.png") no-repeat center center;
  background-size: 100% 100%;
  padding-top: 300px;
}
 
/* .container{
    max-width: 1600px;
} */

/*===================================   header style      =================================*/

.header {
    background: #1bac93;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.5s;
}

.header.fixedMenu{
    background: #1bac93; 
    position: fixed;
    padding: 15px;
    -ms-box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);
}

.header.fixedMenu .navbar .logo img{
    max-width: 100px;
}
.header .navbar {
    padding: 0;
}
.header .navbar .logo {
    color: #fff;
}
.header .navbar .logo img {
    transition: all 0.5s;
    max-width: 135px;
    width: 100%;
}
.header .navbar .navbar-toggler {
}
.header .navbar .navbar-toggler i {
}
.header .navbar .mainMenu {
}
.header .navbar .mainMenu .navbar-nav {
    align-items: center;
}
.header .navbar .mainMenu .navbar-nav .nav-item {
    margin-right: 50px;
}
.header .navbar .mainMenu .navbar-nav .nav-item:last-child {
    margin-right: 0;
}
.header .navbar .mainMenu .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding: 0;
    font-weight: 500;
}

/*===================================   header style      =================================*/

/* ==================================   bannerWrap style    ================================= */
.bannerWrap {
    background: url(../img/1.Slider-background-01.png) no-repeat scroll top left / cover;
    padding: 100px 0 340px;
}

.bannerContent {
}
.bannerContent .bannerTitle {
    font-size: 56px;
    line-height: 66px;
    color: #fff;
    margin-bottom: 50px;
}
.bannerContent .bannerTitle span {
    color: #fbd65d;
}
.bannerContent .bannerPara {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 60px;
}
.bannerContent .btnGroup {
    display: flex;
}
.bannerContent .btnGlob {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 22px;
    background: #fff;
    padding: 0 30px;
    height: 60px;
    font-weight: 500;
    color: #16a88e;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.5s;
}
.bannerContent .btnGlob.btnPatient {
    margin-right: 30px;
    border: 2px solid #fff;
}
.bannerContent .btnGlob.btnPatient:hover {
    background: transparent;
    color: #fff;
}
.bannerContent .btnGlob.btnDoctor {
    border: 2px solid #fbd65d;
    background: #fbd65d;
    color: #333;
}
.bannerContent .btnGlob.btnDoctor:hover {
    background: transparent;
    color: #fbd65d;
}
.bannerContent .bannerImg {
}
.bannerContent .bannerImg img {
}

/*===================================   bannerWrap style      =================================*/

/* ==================================   about us style    ================================= */

.about {
    margin-top: 20px;
}
.header-about {
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
}

.header-about .heading-about {
}
.header-about .icon {
}
.header-about .icon img {
    width: 27px;
    margin-top: -10px;
}
.about-image img {
    width: 100%;
}
.about .body-about {
    margin: 20px 0;
}
.about .about-link {
    text-decoration: none;
    background: #00C4A4;
    color: #fff;
}
.about .custom-button.about-link:hover{
    background: transparent;
    color: #00C4A4;
    border: 1px solid #00C4A4;
}

/* ==================================   about us style    ================================= */

/* ==================================   our services style    ================================= */

.services {
    margin-top: 40px;
}

.services .service-header {
}

.services .service-header img{
    width: 30px;
    margin-top: -95px;
    margin-left: 193px;
}

.services .service {
    width: 100%;
    height: 200px;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.27);
    box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.27);
}
.services .service img {
    width: 140px;
    margin: 0 auto;
}
.services .service span {
    margin: 0 auto;
    text-align: center;
}

/* ==================================   our services style    ================================= */

/* ==================================  Start How it works    ================================= */

.howitworks{
    margin-top: 120px;
}

.howitworks .howworksheader{
    margin-bottom: 20px;
}
.howitworks .howworksheader .top-header{
    
}

.howitworks .howworksheader .top-header img{
    width: 30px;
    margin-top: -95px;
    margin-left: 193px;
}

.howitworks .howworksheader .bottom-header{
    margin-top: -20px;
}

.howitworks .main-image img{
    max-width: 75%;
}
.howitworks img{
    margin-bottom: 30px;
}
.howitworks .how-works-body-heading{
    margin-bottom: 20px;
    color: #F69F3C;
    font-weight: 500;
    font-size: 20px;
}
 

/* ==================================   End How it works    ================================= */

/* ==================================   start our doctors    ================================= */

.our-doctors{
    margin: 40px 0;
}
.our-doctors .doc-background{
    background-color: #00DDB4;
    height: 350px;
    /* width: 100vw; */
    border-radius: 20px; 
    padding: 60px 0 0 50px;
}
.our-doctors .doc-background .sub-heading{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
.our-doctors .doc-background .main-heading{
    color: #413D66;
    font-weight: 400;
    font-size: 28px;

}
.our-doctors .custom-button.btnviewall:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.our-doctors .doc-background .doc-pro{
    height: 250px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.27);
    box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 27px;
}
.our-doctors .doc-background .doc-pro img{
    width: 120px;
    height: 120px;
    border: 5px solid #9FEEDD;
    border-radius: 100%
}
.our-doctors .doc-background .doc-pro .name{
    color: #F69F3C;

}
.our-doctors .doc-background .doc-pro .degree{
    font-size: 12px;
    color: #00C4A4;
    font-weight: 500;
    width: 60px;
    border-top: 3px solid #D4D4E8;
    text-align: center;
}
.our-doctors .doc-background .doc-pro .dept{
    color: #8F8DAF;
    font-size: 12px;
}
.our-doctors .doc-background .doc-pro .designation{
    color: #BDBDDB;
    font-size: 12px;
}

/* ==================================   End our doctors   ================================= */


/*===================================   FAQ               =================================  */
.faq-index{
    margin: 95px 0;
}
.faq-index .faq-background{
    background-color: #00DDB4;
    height: 100%;
    width: 100vw;
    border-radius: 20px; 
    padding: 60px 100px 5px 50px;
}
.faq-index .faq-background .sub-heading{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
.faq-index .faq-background .main-heading h5{
    color: #413D66;
    font-weight: 400;
    font-size: 28px;

}
.faq-index .faq-background .faq .panel-default>.panel-heading {
    color: #fff;
    background-color: #3A4565;
    border-color: #3A4565;
    border-radius: 5px;
}
.faq-index .faq-background .panel-body p {
    color: black;
    background-color: #ffffff;
    padding: 13px;
}
.custom-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    background: #fff;
    height: 37px;
    font-weight: 400;
    color: #504c72;
}
/*===================================   END FAQ           =================================  */

/* ==================================  start benefits   ================================= */

.benefits{
    margin-top: 140px;
}
.benefits .howworksheader{
    margin-bottom: 20px;
}
.benefits .howworksheader .top-header{
    
}

.benefits .howworksheader .top-header img{
    width: 30px;
    margin-top: -95px;
    margin-left: 136px;
}

.benefits .howworksheader .bottom-header{
    margin-top: -20px;
}
.benefits .btn{
    color: #4A466D;
    background: #FFFFFF;
    padding: 0 35px;
    font-size: 14px;
}
.benefits .btn.btn-first{
    background: #00DDB4;
    color: #FFFFFF;
}
.benefits .btn:hover{
    background: #00DDB4;
    color: #FFFFFF;
    cursor: auto;
    border: none;
}
.benefits .btn-group{
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    border: none;
    border-radius: 20px;
}
.benefits .btn-group-lg{
    height: 60px;
    margin-top: 30px;
    border-radius: 20px;
}

/* ==================================   End benefits   ================================= */
/* ==================================   start facilities   ================================= */

.facilities{
    margin-top: 45px;
}
.facilities .facilities-background{
    background-color: #FFFFFF;
    min-height: 350px;
    border-radius: 20px; 
    padding: 60px 0 0 50px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
}

.facilities .facilities-background ul{
    list-style-type: none;
    /* list-style-image: url('../img/Group\ 854.png'); */
    
}
.facilities .facilities-background ul li:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: 30px;
    background-image: url('../img/Group\ 854.png');;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 15px;
    vertical-align: middle;
    
  }
.facilities .facilities-background li{
    margin-bottom: 20px;
}

.facilities .facilities-background li .cus-style{
    text-transform: uppercase;
    color: #F6A51A;
}

.facilities .facilities-background li .cus-style-sec{
     
    color: #F6A51A;
}

/* ==================================   End facilities   ================================= */

/* ==================================   start faq   ================================= */

.faq{
    margin-top: 100px;
}

.faq .faq-background{
    background-color: #00DDB4;
    min-height: 350px;
    /* width: 100vw; */
    border-radius: 20px;
    padding: 50px 60px;
}

.faq .faq-background hr{
     background-color: #81F0DA;
     margin-bottom: 20px;
}

.faq .faq-background .top-header{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.faq .faq-background .main-header{
    color: #413D66;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 25px;
}

.custom-card-header{
    background: #6B6895;
    color: #FFFFFF;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
}
.custom-card-header a{
    color: #FFFFFF;
}

.custom-card-header a img{
    width: 17px;
} 

.custom-card-body{
    background: #E4FCF7;
    color: #716886;
}





/* ==================================   End faq   ================================= */


/*===================================   our partners           ================================= */
.section-header {
    margin-top: 66px;
    margin-bottom: 46px;
}

.section-header h3 {
    text-align: center;
}

.heading-partners .icon {
}
.heading-partners .icon img {
    width: 20px;
    margin-top: -10px;
}
.partner-img {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    background: #fff;
    height: 160px;
}
/*===================================   end our partners          ================================= */

/*===================================   footer                    ================================= */
.footer {
  background: url("../../assets/img/22.Slider-01.png") no-repeat center center;
  background-size: 100% 100%;
}
.footer .section{
    padding-top: 15%;
    padding-right: 3%;
    padding-left: 3%;
}
/*socilal link*/
.footer p {

    color: #ecf5ff;
}
.footer h5 {
    padding-top: 3%;
    padding-bottom: 3%;
    color: #ecf5ff;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer ul li {
    padding: 0px 0px 12px 0px;
}
.footer ul a {
    color: #ecf5ff;
    text-decoration: none;
}
.footer .section .social {
    padding-top: 33px;
    padding-right: 10%;
    padding-left: 10px;

}
/*social link*/
.footer .mobile {;
    height:100%;
}
/*copywrite*/
hr { 
    display: block;
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
.social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 36px;
    height: 36px;
}
/*===================================   end footer                ================================= */


/**=================================================================================
    Cover Page
===================================================================================**/
.about-us{
    margin-top: 50px;
}
.page-cover {
    padding: 100px 0px;
    position: relative;
}
#cover-about {
    background: url('../../assets/img/topimg/topabout.jpg') no-repeat center center;
    background-size: cover;
}
#cover-our-doc {
    background: url('../../assets/img/topimg/to_ourdoc.jpg') no-repeat center center;
    background-size: cover;
}
#cover-faq{
    background: url('../../assets/img/topimg/top_faq.jpg') no-repeat center center;
    background-size: cover;
}
.layer {
    background-color: rgba(52, 58, 64, 0.71);
    position: absolute;
    top: 0;
    left: 15px;
    width: 100%;
    height: 100%;
}
.page-cover h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 6px;
}
.page-cover .breadcrumb {
    background: none;
}

.page-cover .breadcrumb {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 300;
}
/**=================================================================================
    Cover Page
===================================================================================**/
/**
    FAQs Page
**/
.faq-section{
    margin-top: 133px;
}
.header-faq {
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
}

.header-faq .heading-faq {
}
.header-faq .icon {
}
.header-faq .icon img {
    width: 27px;
}
.faq .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f056";
    padding-right: 5px;
}
/*
.faq .panel-title > a.collapsed:before {
    float: right !important;
    content: "\f055";
}
*/
.panel-title a {
    padding: 13px;
    color: #fff;
}
.panel-body p {
    color: black;
    background-color: #0fffff;
    padding: 13px;
}
.faq h2 {
    color: #ff9800;
}
.faq h3 {
    padding: 25px 0px 25px 0px;
}
.faq a {
    text-decoration: none;
    display: block;
}
.faq .panel-default>.panel-heading {
    color: #fff;
    background-color: #00DDB4;
    border-color: #00DDB4;
    border-radius: 5px;
}
/*
.faq .panel-default .panel-heading .panel-body p{
    color: #fff;
    background-color: #00DDB4;
    border-color: #00DDB4;
    border-radius: 5px;
}
*/
.tab-d {
    margin: 33px 0px 33px 0px;
}
.tab-color {
    padding:10px 20px; 
    background-color: #00DDB4;
}
.tab-color a {
    text-decoration: none;
    display: block;
    color:#fff;
}
.tab-color-inactive a {
    text-decoration: none;
    display: block;
    color:#000;
    padding:10px 20px; 
    background-color: #ffffff;
}
/**
    our doctor page
**/
.our-doc-background {
    /* background-color: #00DDB4; */
    height: 100%;
    width: auto;
    border-radius: 20px;
}
.pad{
    margin:15px;
}
.our-doc-pro{
    height: 250px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.27);
    box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 27px;
    margin:45px;
}
.our-doc-pro img{
    width: 120px;
    height: 120px;
    border: 5px solid #9FEEDD;
    border-radius: 100%
}
.our-doc-pro .name{
    color: #F69F3C;

}
.our-doc-pro .degree{
    font-size: 12px;
    color: #00C4A4;
    font-weight: 500;
    width: 60px;
    border-top: 3px solid #D4D4E8;
    text-align: center;
}
.our-doc-pro .dept{
    color: #8F8DAF;
    font-size: 12px;
}
.our-doc-pro .designation{
    color: #BDBDDB;
    font-size: 12px;
}
.cus-doc-row {
    margin: 0 15px;
}


